// Publication entry

.publication-list {
  list-style-type: none;
  padding: 0;
}

.publication-list li {
  background-color: #eee;
  border-top: 2px solid #aaa;
  border-bottom: 2px solid #aaa;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.publication-entry {
  display: flex;
  flex-direction: column;
}

.publication-type {
  font-weight: bold;
  color: #007BFF;
  margin-bottom: 0.5rem;
}

.publication-title {
  font-weight: bold;
  font-style: italic;
  margin: 0.5rem 0;
}

.publication-details {
  color: #555;
  font-size: 0.9rem;
}

.publication-doi a {
  color: #007BFF;
  text-decoration: none;
}

.publication-doi a:hover {
  text-decoration: underline;
}