---
layout: default
description: Template for publications page.
---

{% if page.publications and site.data[page.publications] %}
  {% assign publications = site.data[page.publications] %}
{% elsif site.data.publications %}
  {% assign publications = site.data.publications %}
{% endif %}

{{ content }}

<ol>
{% for entry in publications %}
  <li>
    <div class="d-flex publication-entry">
      <div>
        {% if entry.ENTRYTYPE == "inproceedings" %}
          {{ entry.author }}
          <i>"{{ entry.title }},"</i>
          in proceedings of {{ entry.booktitle }}, 
          pp. {{ entry.pages }}, 
          {{ entry.year }}, 
          doi: <a href="http://dx.doi.org/{{ entry.doi }}">{{ entry.doi }}</a>.
        {% endif %}
        {% if entry.ENTRYTYPE == "article" %}
          {{ entry.author }}
          <i>"{{ entry.title }},"</i> 
          in {{ entry.journal }}, 
          vol. {{ entry.volume }}, 
          no. {{ entry.number }}, 
          pp. {{ entry.pages }}, 
          {{ entry.year }}, 
          doi: <a href="http://dx.doi.org/{{ entry.doi }}">{{ entry.doi }}</a>.
        {% endif %}
      </div>
    </div>
  </li>
{% endfor %}

</ol>