---
layout: default
description: Template for publications page.
---

{% if page.publications and site.data[page.publications] %}
  {% assign publications = site.data[page.publications] %}
{% elsif site.data.publications %}
  {% assign publications = site.data.publications %}
{% endif %}

{{ content }}

<ol>
{% for entry in publications %}
  <li>
    <div class="d-flex publication-entry">
      <div>
        {% if entry.ENTRYTYPE == "inproceedings" %}
          {{ entry.author }} ({{ entry.year }}) <i>"{{ entry.title }}."</i>
          Proceedings of {{ entry.booktitle }}, {{ entry.pages }}.
          doi: <a href="http://dx.doi.org/{{ entry.doi }}">{{ entry.doi }}</a>
        {% endif %}
      </div>
    </div>
  </li>
{% endfor %}

</ol>